<%= form_for(@submission) do |f| %>
  <% if @submission.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@submission.errors.count, "error") %> prohibited this submission from being saved:</h2>

      <ul>
      <% @submission.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.hidden_field :id %>

  <div class="field">
    <%= f.label :survey_id %><br>
    <%= f.number_field :survey_id %>
  </div>

  <h1> Replies </h1>

  <%= @questions.each do |q| %>
  <%= @question.prompt %>
    <%= f.fields_for :replies do |ff| %>
      <div>
        <span class="subfield">
          <%= ff.label :question_reply %>:
          <%= ff.text_field :question_reply %>
        </span>
      </div>
    <% end %>

  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
