<%= form_for(@submission) do |f| %>
  <% if @submission.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@submission.errors.count, "error") %> prohibited this submission from being saved:</h2>

      <ul>
      <% @submission.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.hidden_field :survey_id %>

  <%= f.fields_for :replies do |ff| %>
    <% @survey.questions.each do |question| %>
      <% #ff.question_id = question.id %>
      <div><%= ff.text_field :question_id %></div>
      <span class="prompt"> <%= question.prompt %>:  </span>
      <div class="subfield">
        <%= ff.label :question_reply %>:
        <%= ff.text_field :question_reply %>
      </div>
    <% end %>
  <% end %>


  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
