<%= form_for(@survey) do |f| %>
  <% if @survey.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@survey.errors.count, "error") %> prohibited this survey from being saved:</h2>

      <ul>
      <% @survey.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.hidden_field :author_id %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_field :description %>
  </div>

  <h1> Questions </h1>

  <%= f.fields_for :questions do |ff| %>
    <div>
      <span class="subfield">
        <%= ff.label :question_type %>:
        <%= ff.select :question_type, @options %> |
      </span>
      <span class="subfield">
        <%= ff.label :prompt %>:
        <%= ff.text_field :prompt %>
      <span>
    </div>
  <% end %>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
