<p id="notice"><%= notice %></p>

<p>
  <strong>Author:</strong>
  <%= @survey.author.name %>
</p>

<p>
  <strong>Title:</strong>
  <%= @survey.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @survey.description %>
</p>
<% @survey.questions.each do |question| %>

  <p>
    <strong>Question:</strong>
    <%= question.prompt %>
  </p>

  <% unless @replies.empty? %>
    <% @replies.each do |reply| %>
      <p>
        <% if reply.question_id == question.id %>
          <%= reply.question_reply %>
        <% end %>
      </p>
    <% end %>
  <% end %>
<% end %>

<%= link_to 'Edit', edit_survey_path(@survey) %> |
<%= link_to 'Back', surveys_path %>
