<!DOCTYPE html>
<html>
<head>
  <title>SurveyOpossum</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="container">
    <div id="author_header">
      <% if current_author %>
        Logged in as <%= current_user.email %>.
      <% end %>
    </div>
  </div>

  <%= yield %>

</body>
</html>
